@charset "EUC-KR";


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
        url(path/to/MaterialIcons-Regular.woff) format('woff'),
        url(path/to/MaterialIcons-Regular.ttf) format('truetype');
    }


    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 100px;  /* Preferred icon size */
        display: block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: black;
        text-align :center;
        padding-top: 10%;
       
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
       
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
       
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
       
        /* Support for IE. */
        font-feature-settings: 'liga';
        }


#pre{
	width:100vw;
    height:100vh;
	
}




#pre h3{
	color: black;
	text-align:center;
	
}
