
*{ 
    font-family: ���� ����; 
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 2px;  
  }

 

  /* �޴� ���� ���� 1*/
  nav{ margin-bottom: 25px; }

  #topimg{
    height: 40px;
    width: 100%;
    /*background-color:#FACC2E ;*/
  }

  
  /* �޴� ���� ���� 2, �±��� id �� topMenu�� ��Ÿ��*/  
  #topMenu{
    height: 40px;
    width: 1200px;
    /*background-color:#FACC2E ;*/
  }
  
  #topMenu ul li{
    list-style: none;     /* ���� ��ȣ ����  list-style: none;   */
    color: white;         /* ���� #555555 ����*/
    /*background-color: #FACC2E;*/
    float: right;      /* float: left;  li �±��� ��� ������ �������� ���� */
    line-height: 30px; /* �ϳ��� �� ���� */
    vertical-align: middle; /* ���� ���� �߰� ���� */
    text-align: center;      /* ���� ���� ���� */
  }
  
   
  #topMenu .menuLink{   /* A �±� �Ӽ� ���� */
    text-decoration: none;  /* ���� ���� */
    color: #FACC2E;   
    display: block;   /* A ���� ���� ���� ��ũ ���� */
    width: 200px;
    font-weight: bold;
    font-family: comic Sans MS ; 
    font-size: 16pt;
  }
  
  #topMenu .menuLink:hover {  /* A �±׿� ���콺 over �Ӽ� ���� */
    color: #DBA901;
    /*background-color:#DBA901 ;*/
    font-size: 18pt;
  }
  
  

 #bottom{ 
    font-family: Comic Sans MS; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
    padding: 2px;  
  }


#table{
    margin: 0px auto;  /* ��� ���� */
    border-style: solid; /*  �Ǽ� */
    border-width: 5px; /* �� �β� */
    border-color: #999999; /* �� ���� */
    border-collapse: collapse; /* �� ��輱 ����*/
}
 
 
   #topMenu div {
    color: white;     
    float: right;  
    font-size: 12pt;   
  }